*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/java/com/example/foodtruck/LoginFragment.java
/app/src/main/java/com/example/foodtruck/SignUpFragment.java
/app/src/main/res/layout/activity_login.xml
/app/src/main/java/com/example/foodtruck/Fragments/LoginFragment.java
